body{
	font-family: 'Prompt', sans-serif;
}
.logotipo{
	width: 100px;
}
.text-center{
	height: 60px;
}
hr {
    border: none;
    height: 1px;
    color: #373A3C;
    background-color: #333;
}

.carrusel-portafolio{
	height: 250px;
	overflow: hidden;
}
.carrusel-portafolio img{
	margin-top: -50px;
	
}
.oscuro{
	background: #800080;
	 height:150px;
	 vertical-align: center;

}
.oscuro a{
	color:#ffffff;
	 text-decoration: none;
}

.texto-footer{
	font-size: 30px;
	text-align: center;
}
.iconos{
	text-align: center;
}

.card-img-top{
	align-items: right;
}
.navbar{
	background: #800080;
}
